<!DOCTYPE html>
<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <head>
	  <title> Sign Up/Log In </title>
  </head>

  <body>
    <div class = "navbar">
      <h1> Movie DB </h1>
      <a href="/index"> HOME </a>
      <a href="/songs"> SONGS </a>
      <a href="/movies"> MOVIES </a>
      <a class="active" href="/"> SIGN UP </a>
      <a href="/login"> LOG IN </a>
    </div>
    <div>
      <h2> Login </h2>
    </div>

    <div>
        Login failed. Please try again.
    </div>

  </body>


</html>
