<!DOCTYPE html>
<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <head>
	  <title> Movies </title>
  </head>

  <body>
    <nav>
      <div class = "navbar">
	      <h1> IMDB</h1>
        <a href="/index"> HOME </a>
        <a href="/songs"> SONGS </a>
        <a class="active" href="/"> MOVIES </a>
        <a href="/highlyrated"> Top Rated </a>
        <a href="/trending"> Trending </a>
        <a href="/signup"> SIGN UP </a>
        <a href="/login"> LOG IN </a>
      </div>
    </nav>

    

    <div>
      <h2> Search Movies </h2>
    </div>

    <form action="/movie_results" method="GET">
      <label for="movie_name">Movie name:</label>
      <input type="text" id="movie_name" name="movie_name"><br><br>
      <label for="language">Language:</label>
      <input type="text" id="language" name="language"><br><br>
      <label for="genre">Genre:</label>
      <input type="text" id="genre" name="genre"><br><br>
      <input type="submit" value="Search">
    </form>
  

    
    
  </body>


</html>
