<!DOCTYPE html>
<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <head>
	  <title> Sign Up/Log In </title>
  </head>

  <body>
    <div class = "navbar">
      <h1> Movie DB </h1>
      <a href="/index"> HOME </a>
      <a href="/songs"> SONGS </a>
      <a href="/movies"> MOVIES </a>
      <a class="active" href="/"> SIGN UP </a>
      <a href="/login"> LOG IN </a>
    </div>
    <div>
      <h2> Sign Up </h2>
    </div>

    <form action="/signup" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"><br><br>
      <label for="account_type">Account type:</label>
      <input type="text" id="account_type" name="account_type"><br><br>
      <input type="submit" value="Signup">
    </form>

  </body>


</html>
